#login-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ib_form_area{
    width: 500px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #f5f5f5;
}

.login_body {
    top: 0;
    width: 100%;
    /* text-align: center; */
    bottom: 0;
    opacity: 1;
    z-index: 999;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    flex-direction: column;
}
.login_title {
    margin-bottom: 30px;
}
.f-pass  {
    text-align: right;
}
.ripple-background .shade1 {
    background: #0000ff26;
}
.ripple-background .shade2 {
    background: #b9b9ff;
}
.ripple-background .shade3 {
    background: #0000ff26;
}
.ripple-background .shade4 {
    background: #0a58ca;
}
.ripple-background .shade5 {
    background: #0000ff26;
}


.ripple-background .xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    z-index: -999;
}
.ripple-background .xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    top: -400px;
    z-index: -999;
}
.ripple-background .large {
    width: 600px;
    height: 600px;
    left: -300px;
    top: -300px;
    z-index: -999;
}
.ripple-background .small {
    width: 200px;
    height: 200px;
    left: -100px;
    top: -100px;
    z-index: -999;
}

.ripple-background .circle {
    position: absolute;
    border-radius: 50%;
    animation: ripple 15s infinite;
}
@keyframes ripple {
    
    0% {
        transform: scale(0.8);
    }
    
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
    
}
.register_txt{
    text-transform: uppercase;
    background-image: linear-gradient(rgba(25, 27, 29, 0) calc(99% - 1px), #191B1D 15px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    -webkit-transition: background-size 0.5s;
    transition: background-size 0.5s;
    cursor: pointer;
}

.register_txt:hover {
    color: #191B1D;
    text-decoration: none;
    background-size: 100% 100%;
}
.decoration-none{
    text-decoration: none;
    color: #0a58ca;
}
label{
    font-family: 'Lato', sans-serif !important;
}
.modal--header{
    padding: 5px 19px !important;
    /* flex-direction: column-reverse */
    justify-content: center !important;
}
.modal-backdrop{
    opacity: 0.8 !important;
}
.date-input{
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #949494 !important;
    cursor: pointer;
}
.small{
    font-size: 0.77rem !important;
    color: #676767;
}
.btn-new{
    padding: 10px 13px !important;
}
.s-sidebar__nav ul li {
    list-style: none;
}

.sidebar ul{
    padding: 9px 20px;
    width: 100%;
}
@media (min-width:600px) {
    .padding-top{
        padding-top: 5rem;
    }
    
}


.chat--area{
    /* height: 500px; */
    /* border: 1px solid red; */
    /* overflow-y: auto; */
    padding: 1rem 0;
    padding-bottom: 11rem !important;
}
.search-Bar input{
    background: #131728;
    border: 0;
    /* border-radius: 0; */
    box-shadow: 0 0px 20px 1px #00000080;
    padding: 0.85rem 13px;
    transition: 0.3s all;
    color: #fff;
}
.search-Bar input:focus{
    box-shadow: 0 0px 20px 1px #00000080;
    /* box-shadow: none; */
    color: #fff;
    background-color: #1a2039;
    border-color: #1a2039;
}

.search-Bar {
    height: 100px;
    background-image: linear-gradient(180deg,rgba(53,55,64,0),#131728b3 58.85%);
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: 20px;
    /* margin: 30px; */
    /* font-weight: bold;
    position: fixed;
    bottom: 0; */
    /* width: 100vw; */
}
.main--child {
    position: fixed;
    bottom:-3px;
    width: -webkit-fill-available !important;
}

.main--cont {
    position: relative;
}
.send--svg {
    fill: #fff !important;
}

.svgdiv{
    cursor: pointer;
    position: absolute;
    right: 20px;
    background: #20212400;
    height: 30px;
    width: 30px;
    align-items: center;
    display: flex;
    
}


@media (min-width:990px) {
    .w-80 {
        width: 80%;
        margin: auto;
    }
}
.chat-txt-user {
    padding: 20px 50px 20px 20px;
}
.chat-txt-ai {
    padding: 20px 20px  20px 50px;
}
.ib-chat--ai-box {
    /* border: 1px solid #fff; */
}
.ib-ai-profile {
    width: 45px;
    text-align: center;
    background: #ddd;
    padding: 10px;
    margin: 25px 0;
}
.bg-ai-chat {
    background-color: #131728;
    border-top:1px solid #080a12;
    border-bottom:1px solid #080a12 ;
}
.bg-user-chat {
    border-top:1px solid #131728;
    border-bottom:1px solid #131728;

}

@media (max-width:600px) {
    .chat-txt-user {
        padding: 20px 20px 20px 20px;
    }
    .chat-txt-ai {
        padding: 20px 20px  20px 20px;
    }
    .ib-ai-profile{
        width: 45px;
    text-align: center;
    background: #ddd;

    margin: 30px 0;
    }
}

@media (max-width:768px) {
    
    .ripple-background .xxlarge {
        width: 500px;
        height: 500px;
        left: -150px;
        top: -200px;
        z-index: -999;
    }
    .ripple-background .xlarge {
        width: 400px;
        height: 400px;
        left: -100px;
        top: -150px;
        z-index: -999;
    }
    .ripple-background .large {
        width: 300px;
        height: 300px;
        left: -50px;
        top: -100px;
        z-index: -999;
    }
    .ripple-background .small {
        width: 200px;
        height: 200px;
        left: -21px;
        top: -66px;
        z-index: -999;
    }
    .ib_form_area {
        width: 380px;
        padding: 45px;
    }

}

@media (max-width:550px) {
    .ib_form_area {
        width: 350px;
        padding: 30px;
    }
    .mob-padding {
        padding: 10px 20px;
    }
}


/* dropdown  */

/* Dropdown */

.drop-down-btn {
    display: inline-block;
    position: relative;
    right: 28px;
  }
  
  .dd-button {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 10px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    right: 0;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 10px;
    width: 180px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }